{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current" // the target node version, boolean true, or "current".
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
